*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
}

.container{
    width:350px;
    padding:30px;
    background:#ffffff10;
    backdrop-filter:blur(12px);
    border-radius:20px;
    box-shadow:0 8px 25px rgba(0,0,0,0.3);
    text-align:center;
    color:white;
}

.container h2{
    margin-bottom:20px;
    font-size:22px;
}

.progress-box{
    width: 78%;
    height:22px;
    background:beige;
    border-radius:20px;
    overflow:hidden;
    margin-bottom:15px;
}

.progress-bar{
    width:0%;
    height:100%;
    background:linear-gradient(90deg,#00f260,#0575e6);
    border-radius:20px;
    /* transition:width 0.3s ease; */
}

.progress-info{
    display:flex;
    justify-content:space-between;
    font-size:14px;
    margin-bottom:20px;
}

button{
    padding:12px 20px;
    border:none;
    border-radius:10px;
    background:#00c6ff;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#0072ff;
}